MONGO_URI='mongodb+srv://read-only:Me5dRsFGcjjKKUpD@development-cluster-0.4dmjp.mongodb.net/epayco-movies?retryWrites=true&w=majority&appName=development-cluster-0'
PORT=3000
TMDB_API_URL=https://api.themoviedb.org/3/search/movie
TMDB_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhMTg1NjA1NTRlZDA0NDk2Y2M1ZDllZWUwMjQyMGJjYyIsIm5iZiI6MTcyNzU4NTY1My45OTYwMDksInN1YiI6IjY2ZjhkYzQ5MzkzY2RhMWQxZGNjMzkzMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.fd3Ah-xu_UaCktIXwWGvJ8UemAGauC_AGqvIZoxwABM